.vs
AdminLTE-3.0.4
App_Data
App_Start
bin
Content
login-form-20
obj
packages
Photo
Properties
Scripts
startbootstrap-resume-gh-pages
favicon.ico
Global.asax.cs
MVCV.csproj
MVCV.csproj.user
MVCV.sln
packages.config
Web.Debug.config
Web.Release.config
Views/_ViewStart.cshtml