@model MVCV.Models.Entity.TBL_SKILLS
@{
    ViewBag.Title = "SkillAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4><b>New Skill Add Page</b></h4>
<br />
<form method="post">
    <br />
    @Html.Label("Skill")
    @Html.TextBoxFor(x => x.Skill, new { @class = "form-control" })
    <br />
    @Html.Label("Progress")
    @Html.TextBoxFor(x => x.Progress, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-success">Add</button>
</form>

