
@{
    ViewBag.Title = "ExperienceAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4><b>New Experience Add Page</b></h4>
<br />
<form class="form-group" method="post">
    <input type="text" name="Title" class="form-control" placeholder="Title" />
    <br />
    <input type="text" name="Subheading" class="form-control" placeholder="Subheading" />
    <br />
    <textarea name="Description" class="form-control" placeholder="Description" rows="6"></textarea>
    <br />
    <input type="text" name="Date" class="form-control" placeholder="Date" />
    <br />
    <button class="btn btn-outline-info">Add</button>
</form>

